# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_export_environment.sh

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
**/intermediates/
**/generated/
**/outputs/
android/app/.cxx/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
Runner.build/

# Web
web/.dart_tool/
.web/

# Bundles e binários grandes
*.aab
*.apk
*.ipa
*.zip
**/libflutter.so

# Logs e lixo de SO
firebase-debug.log
flutter_verb.log
.DS_Store
